[submodule "controller/FreeRTOS-LTS"]
	path = controller/FreeRTOS-LTS
	url = https://github.com/FreeRTOS/FreeRTOS-LTS.git
[submodule "controller/pico-sdk"]
	path = controller/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "controller/micro_ros_raspberrypi_pico_sdk"]
	path = controller/micro_ros_raspberrypi_pico_sdk
	url = https://github.com/acont95/micro_ros_raspberrypi_pico_sdk.git
[submodule "ros2_ws/src/micro_ros_setup"]
	path = ros2_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
